.slider {
    position: relative;
    overflow: hidden;
    width: inherit;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slider__wrapper {
    position: absolute;
    display: flex;
    width: inherit;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: transform 0.6s ease;
}

.slider__item {
    width: inherit;
    height: 100%;
    margin: 0;
    padding: 0;
    flex: 0 0 100%;
    max-width: 100%;
}


.slider__control {
    position: fixed;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    top: 35%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    width: inherit;
    height: 100%;
    margin: 0;
    padding: 0;

    background-size: cover;
}
.front_box {
    width: inherit;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    opacity: 0.5;
}